<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>	
			<footer>
				<div id="info-footer">			
					<div>
						<h6>Contacto</h6>
						<p>Ítalo Palanca Nº 10</p>
						<p>San Salvador de Jujuy </p>
						<p>Jujuy - Argentina</p>
						<p>info@fi.unju.edu.ar</p>
					</div>
					<div>
						<h6>Redes sociales</h6>
						<p><a>Facebook</a></p>					
						<p><a>YouTube</a></p>					
						<p><a>Linkedin</a></p>					
						<p><a>Instagram</a></p>
					</div>
				</div>
				<div id="copyright">
					<p>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</p>
				</div>
			</footer>
</body>	
</html>